* {
  padding: 0;
  margin: 0;
}

main {
  padding: 2rem;
  font-family: "Carter One", cursive;
  background-color: #ecfdf5;
}
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.cardItem {
  border: 0.1rem #059669 solid;
  background-color: white;
  border-radius: 0.5rem;
}

.cardInnerWrapper {
  padding: 1rem;
  position: relative;
  height: 24rem;
}

.contacts {
  position: absolute;
  bottom: 0;
}

img {
  width: 12rem;
  height: auto;
  display: block;
  margin: 1.5rem auto 0 auto;
  border-radius: 0.5rem;
}

h1 {
  text-align: center;
  color: #059669;
  font-size: 4rem;
}

p {
  color: #737388;
  text-align: center;

  font-size: 1.5rem;
}

.name {
  color: #059669;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.description {
  color: #737388;
}

ul {
  list-style: none;
}

ul li:first-child {
  color: #059669;
  padding-bottom: 0.7rem;
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #737388;
}

a {
  color: #737388;
  transition: transform 0.2s linear;
  display: inline-flex;
  align-items: center;
  margin: 0.3rem;
}

a:hover {
  color: #059669;
  transform: scale(1.2);
}

li {
  display: inline-block;
}

.email-display {
  display: none;
}
